@(id: Long, studentForm: Form[Department])

@import helper._

@main("Edit student") {

#{ifErrors}

<h1>Oops…</h1>

#{errors}
<li>${error}</li>
#{/errors}

#{/ifErrors}

@form(routes.DepartmentController.update(id)) {

<fieldset>
    @inputText(studentForm("name"), '_label -> "Student name")
    @inputText(studentForm("department"), '_label -> "Department")
</fieldset>

<div class="actions">
    <input type="submit" value="Edit">
    <a href="@routes.StudentController.delete(id)" class="btn danger">Delete</a>
</div>

}

}
