@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap.min.css")'>
        <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    </head>
    <body>
        <div style="margin:auto; width:400px;">
            <h1 style="text-align:center">AptuStudents</h1>
            <hr/>
            <h2>@title</h2>
            @content
            <hr />
        </div>
    </body>
</html>
